<div class="container">
    <div class="cube" cellspacing=12>
        <table class="shelving">
            <tr>
                <td class="hole"></td>
                <td class="hole"></td>
                <td class="hole"></td>
                <td class="hole"></td>
                <td class="hole"></td>
            </tr>
            <tr>
                <td class="hole"></td>
                <td class="hole"></td>
                <td class="hole"></td>
                <td class="hole"></td>
                <td class="hole"></td>
            </tr>
            <tr>
                <td class="hole"></td>
                <td class="hole"></td>
                <td class="hole"></td>
                <td class="hole"></td>
                <td class="hole"></td>
            </tr>
            <tr>
                <td class="hole"></td>
                <td class="hole"></td>
                <td class="hole"></td>
                <td class="hole"></td>
                <td class="hole"></td>
            </tr>
        </table>
    </div>
</div>